@font-face {
    font-family: 'Main Font';
    src: url(main_font.ttf);
}

::selection {
    background-blend-mode: difference;
    mix-blend-mode: inherit;
    color: #AAAAAA;
}

* {
    color: #0d3434;
    font-family: "Main Font", serif;
!important;
}

body {
    background-color: white;

    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

table {
    width: 95%;
    text-align: left;
    border-collapse: collapse;
    border-radius: 20px;
    box-shadow: 0 0 10px 15px #B0E0E6;
    margin-bottom: 190px;
}

th {
    padding: 10px 8px;
    background: #F5FEFF;
    font-size: 2rem;
    width: 50%;
}

table th:first-child {
    border-top-left-radius: 20px;
    text-align: center;
}

table th:last-child {
    border-top-right-radius: 20px;
    text-align: center;
}

td {
    border-top: 10px solid #B0E0E6;
    padding: 8px;
    background: #F5FEFF;
}

table td:first-child {
    border-bottom-left-radius: 20px;
}

table td:last-child {
    border-bottom-right-radius: 20px;
}


#back {
    position: fixed;
    background-color: white;
    border: 0;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    border-radius: 10px;
    width: 270px;
    bottom: 3%;
    left: 3%;
    z-index: 3;

    outline: 0;
    box-shadow: 0 5px 10px #35767b;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: default;
    border-bottom: 4px solid #d9d9d9;
}

#back:hover {
    box-shadow: 0 15px 25px -5px #35767b;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

#back:active {
    box-shadow: 0 4px 8px #35767b;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

#site_title {
    margin: 20px;
    padding: 20px;
    font-size: 70px;
    font-weight: bold;
    width: 45%;
    background-color: #B0E0E6;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 25px;
    padding-top: 10px;
    box-shadow: 0 0 15px 5px #B8EAF1 inset;
    border: none;
    transition: all 0.8s;
}

h3 {
    padding-bottom: 0;
}

#site_title:hover {
    /*box-shadow: 0 0 15px 10px #AD787ECF;*/
    box-shadow: 0 0 20px 20px #B8F7FF inset;
}

#aaa {
    box-shadow: 0 0 15px 5px #B8EAF1 inset;
    transition: all 0.8s;
    text-align: left;
}

#aaa:hover {
    box-shadow: 0 0 20px 20px #B8F7FF inset;
}

/*

#5f8da5
#ad787e

@keyframes box_shadow_main {
    from {
        box-shadow: 0 0 3px black;
    }
    to {
        box-shadow: 0 0 30px black;
    }
}
#bfb4ba
*/

li {
    list-style-type: none;
}

.l {
    width: 300px;
    height: 10px;
    display: block;
    margin: auto;
    padding: 10px 0.5rem;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}

.l:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #ffffff;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: -1;
}

.l:hover {
    color: #2D2D2D;
}

.l:hover:after {
    right: 0;
    left: 0;
    height: 90%;
    border-radius: 10px;
}


.t_l {
    color: #0d3434;
    font-size: 20px;
    margin: auto;
    padding: 1rem 1.25rem;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 1s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;

    background: #0d3434;
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.t_l:hover {
    color: red;
    background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s ease infinite;
    animation: rainbow 15s ease infinite;
}


@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/*
#bcc6fb
#f5cfa9
#9987d1


#site_title:hover {
    box-shadow: 0 0 30px black;
    animation: box_shadow_main 2s 1 ease-in-out;
}


#bfb4ba*/

.bottom_box {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 35px 35px 0 0;
    text-align: right;

    bottom: -10%;
    margin-left: 70%;
    flex-direction: column;
    font-size: 15px;
    padding: 3px;
    padding-left: 0;

    height: 33%;
    position: fixed;
    width: 390px;
}