body {
    background-color: tomato;
}

table {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

td tr {
    vertical-align: middle;
    horiz-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.table_link {
    background-color: white;
    color: black;
    border: 0;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    border-radius: 10px;
    width: 270px;

}

/*table, th, td {
    margin-left: 120px;
    margin-right: 120px;
    border: 0 solid black;
    border-spacing: 20px;
}

th, td {
    padding: 10px 40px;
}

#headLink a:link, a:visited {
    background-color: white;
    color: black;
    border: 0 solid green;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#headLink a:hover, a:active {
    background-color: green;
    color: white;
} */

#site_title {
    font-family: "Comic Sans MS", sans-serif;
    margin: 20px;
    padding: 20px;
    font-size: 70px;
    font-weight: bold;
    width: 55%;
    background-color: powderblue;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes box_shadow_main {
    from {
        box-shadow: 0 0 3px black;
    }
    to {
        box-shadow: 0 0 30px black;
    }
}
div {
  background-color: #fff;
  border: 0;
  outline: 0;
  padding: 1.5rem 2rem;
  font-size: 4rem;
  font-family: monospace;
  box-shadow: 0px 5px 10px #0057ab;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid #d9d9d9;
}
div:hover {
  box-shadow: 0px 15px 25px -5px #0057ab;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
div:active {
  box-shadow: 0px 4px 8px #0065c8;
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

#site_title:hover {
    box-shadow: 0 0 30px black;
    animation: box_shadow_main 2s 1 ease-in-out;
}
