@font-face {
    font-family: 'Main Font';
    src: url(main_font.ttf);
}

root {
    main-text-color: #0d3434;
}

* {
    color: #0d3434;
    font-family: "Main Font", serif;
!important;
}

body {
    background-color: tomato;

    background-image: url(main_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

table {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

td tr {
    vertical-align: middle;
    horiz-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.table_link {
    background-color: white;
    border: 0;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    border-radius: 10px;
    width: 270px;
    margin: 10px;
}

/*table, th, td {
    margin-left: 120px;
    margin-right: 120px;
    border: 0 solid black;
    border-spacing: 20px;
}

th, td {
    padding: 10px 40px;
}

#headLink a:link, a:visited {
    background-color: white;
    color: black;
    border: 0 solid green;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#headLink a:hover, a:active {
    background-color: green;
    color: white;
} */

#site_title {
    margin: 20px;
    padding: 20px;
    font-size: 70px;
    font-weight: bold;
    width: 45%;
    background-color: #ad787e;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 25px;
    box-shadow: 0 0 5px 5px #AD787E64;
    border: none;
}

#site_title:hover {
    box-shadow: 0 0 5px 10px #AD787E64;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

/*

#5f8da5
#ad787e

@keyframes box_shadow_main {
    from {
        box-shadow: 0 0 3px black;
    }
    to {
        box-shadow: 0 0 30px black;
    }
}
#bfb4ba
*/

div {
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 1.5rem 2rem;
    font-size: 4rem;
    box-shadow: 0 5px 10px #afac45;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: default;
    border-radius: 5px;
    border-bottom: 4px solid #d9d9d9;
}

div:hover {
    box-shadow: 0 15px 25px -5px #afac45;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

div:active {
    box-shadow: 0 4px 8px #afac45;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

/*
#bcc6fb
#f5cfa9
#9987d1


#site_title:hover {
    box-shadow: 0 0 30px black;
    animation: box_shadow_main 2s 1 ease-in-out;
}
*/