@font-face {
    font-family: 'Main Font';
    src: url(main_font.ttf);
}

::selection {
    background-blend-mode: difference;
    mix-blend-mode: inherit;
    color: #bfb4ba;
}

@keyframes rainbow {
    0% {
        color: red
    }

    14% {
        color: orange
    }
    29% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    100% {
        color: violet;
    }
}

root {
    main-text-color: #0d3434;
}

* {
    color: #0d3434;
    font-family: "Main Font", serif;
!important;
}

body {
    background-color: white;

    background-image: url(main_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

table {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

td tr {
    vertical-align: middle;
    horiz-align: center;
}

.table_link {
    background-color: white;
    border: 0;
    padding: 10px 40px;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    border-radius: 10px;
    width: 270px;
    margin: 10px;

    outline: 0;
    box-shadow: 0 5px 10px #afac45;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: default;
    border-bottom: 4px solid #d9d9d9;
}

.table_link:hover {
    box-shadow: 0 15px 25px -5px #afac45;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.table_link:active {
    box-shadow: 0 4px 8px #afac45;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

/*table, th, td {
    margin-left: 120px;
    margin-right: 120px;
    border: 0 solid black;
    border-spacing: 20px;
}

th, td {
    padding: 10px 40px;
}

#headLink a:link, a:visited {
    background-color: white;
    color: black;
    border: 0 solid green;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#headLink a:hover, a:active {
    background-color: green;
    color: white;
} */

#site_title {
    margin: 20px;
    padding: 20px;
    font-size: 70px;
    font-weight: bold;
    width: 45%;
    background-color: #ad787e;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 25px;
    padding-top: 10px;
    box-shadow: 0 0 15px 5px #D29299 inset;
    border: none;
    transition: all 0.3s;
}

#site_title:hover {
    /*box-shadow: 0 0 15px 10px #AD787ECF;*/
    box-shadow: 0 0 20px 20px #EEA5AE inset;
}

/*

#5f8da5
#ad787e

@keyframes box_shadow_main {
    from {
        box-shadow: 0 0 3px black;
    }
    to {
        box-shadow: 0 0 30px black;
    }
}
#bfb4ba
*/

none {
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 1.5rem 2rem;
    font-size: 4rem;
    box-shadow: 0 5px 10px #afac45;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: default;
    border-radius: 5px;
    border-bottom: 4px solid #d9d9d9;
}

none:hover {
    box-shadow: 0 15px 25px -5px #afac45;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

none:active {
    box-shadow: 0 4px 8px #afac45;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

li {
    list-style-type: none;
}

a {
    width: 300px;
    height: 10px;
    display: block;
    margin: auto;
    padding: 10px 0.5rem;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    z-index: 1;
}

a:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #ffffff;
    -webkit-transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
    z-index: -1;
}

a:hover {
    color: #2D2D2D;
}

a:hover:after {
    right: 0;
    left: 0;
    height: 90%;
    border-radius: 10px;
}


/*
#bcc6fb
#f5cfa9
#9987d1


#site_title:hover {
    box-shadow: 0 0 30px black;
    animation: box_shadow_main 2s 1 ease-in-out;
}


#bfb4ba*/

.bottom_box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 35px 35px 0 0;
    text-align: right;

    bottom: -10%;
    margin-left: 70%;
    flex-direction: column;
    font-size: 15px;
    padding: 3px;
    padding-left: 0;

    height: 33%;
    position: fixed;
    width: 390px;
}